*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 62.5%;

    --color-gray-white: #ffffff;
    --color-gray-blue:#387E96;
    --platform-aliases-shape-principal:#202024;
    --platform-aliases-background:#121214;
    --brand-colors-explorer-dark:#065E7C;
}

body{
    
    color: white;
}

header{
    background: var(--brand-colors-explorer-dark) ;

}
header nav{
    padding: 12px 28px ;
    display: flex;
    align-items: center;
    gap: 25px;

}
header nav form{
    flex: 1;
}
header nav form label{
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    color: #FFF;

}
header nav form input{
    width:100%;
    padding: 12px 16px 12px 14px;
    border: var(--color-blue-dark);
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.20);
}
input::placeholder{
    color: var(--color-gray-white);
    font-family: 'Mulish' , sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
}
main img{
    display: block;
    width: 100%;
    height: 100%;
}

main h1, h2{
    padding: 0 12px 0 28px ;
    color: var(--platform-aliases-shape-principal);
    font-family: 'Mulish', sans-serif;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    margin: 31px 0 8px 0 ;
}
.like{
    padding: 0 12px 0 28px ;
}
.like a img{

    width: 40px;
    height: 40px; 
    padding: 12px;
    border-radius: 50px;
    display: inline;
    margin-right: 12px;
    margin-bottom: 31px;
    background: var(--brand-colors-explorer-dark );

}
main .text p {
    padding: 0 12px 0 28px ;
    color: var(--platform-aliases-background);
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 10px;
}
aside h2{
    margin-bottom: 32px;
}
.card{
    padding: 0 12px 0 28px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin-bottom: 32px;
    
   
}
.card img{
    display: block;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    

}
.card h3{
    color: var(--platform-aliases-shape-principal);
    font-family: 'Mulish' , sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    margin-bottom: 15px;
}
.card p{
    color: var(--platform-aliases-background);
    font-family: 'Mulish' , sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    
}

footer{
    color: var(--color-gray-white);
    text-align: center;
    font-family: 'Mulish' , sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 16px;
    background: var(--color-gray-blue);
}

@media(min-width:1120px){
    .page{
        display: grid;
        justify-content: center;
   }
   header nav{
    width: 1120px;
   }
   header{
    display: grid;
    justify-content: center;
    margin-bottom: 60px;
   }
   
    main{
        display: grid;
        grid-template-columns: 2fr 500px;
        margin-bottom: 40px;
        width: 1120px;
    }
    main img{
        padding: 0 12px 0 28px ;
    }
   
   .title-like{
    display: flex;
    align-items: center;
    justify-content: space-between;
   }
   .like a img{
    margin-bottom: 0;
   
   }
   aside {
    padding: 0 0 0 28px ;
   }
   aside h2{
    margin: 0 0 32px 0;
   
   }
   .card{
    padding: 0;
   }
}  

/* manimações */
header{
    --start: -100%;
    animation: move 2s;
}
footer{
    --start: 100%;
    animation: move 2s;
}
main {
    animation: appear 2s;
}
@keyframes move {
    0%{
        transform: translateY(var(--start));
    }
}
@keyframes appear{
    0%{
        opacity: 0;
        transform: scale(0.7);
    }
}